-- ============================================================
-- expense_db — Master setup script
-- Run order:
--   1. script_db/create_tables.sql              (this file)
--   2. script_db/07_05_2026_create_products_table.sql
-- ============================================================

-- Create database
CREATE DATABASE IF NOT EXISTS expense_db
  CHARACTER SET utf8mb4
  COLLATE utf8mb4_general_ci;

USE expense_db;

-- ------------------------------------------------------------
-- roles
-- ------------------------------------------------------------
CREATE TABLE IF NOT EXISTS `roles` (
  `id_rol`      INT(11)      NOT NULL AUTO_INCREMENT,
  `name`        VARCHAR(50)  NOT NULL UNIQUE,
  `description` TEXT,
  `status`      TINYINT(1)   NOT NULL DEFAULT 1,
  `created_at`  TIMESTAMP    NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_rol`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- ------------------------------------------------------------
-- users
-- ------------------------------------------------------------
CREATE TABLE IF NOT EXISTS `users` (
  `id_user`    INT(11)       NOT NULL AUTO_INCREMENT,
  `username`   VARCHAR(50)   NOT NULL UNIQUE,
  `email`      VARCHAR(100)  UNIQUE,
  `password`   VARCHAR(255)  NOT NULL,
  `status`     TINYINT(1)    NOT NULL DEFAULT 1,
  `id_rol`     INT(11)       NULL,
  `created_at` TIMESTAMP     NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_user`),
  CONSTRAINT `fk_users_rol`
    FOREIGN KEY (`id_rol`) REFERENCES `roles` (`id_rol`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- ------------------------------------------------------------
-- Seed data — roles
-- ------------------------------------------------------------
INSERT IGNORE INTO `roles` (`name`, `description`) VALUES
  ('Administrator', 'Full system access'),
  ('User',          'Limited system access'),
  ('Teacher',       'Teacher access');

-- ------------------------------------------------------------
-- Seed data — default admin user  (password: admin123)
-- ------------------------------------------------------------
INSERT IGNORE INTO `users` (`username`, `email`, `password`, `id_rol`) VALUES
  ('admin', 'admin@expensecontrol.com',
   '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', 1);
