-- Database for expense control system
CREATE DATABASE IF NOT EXISTS expense_db CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
USE expense_db;

-- Roles table
CREATE TABLE IF NOT EXISTS roles (
    id_rol INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(50) NOT NULL UNIQUE,
    description TEXT,
    status TINYINT(1) DEFAULT 1,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Users table
CREATE TABLE IF NOT EXISTS users (
    id_user INT PRIMARY KEY AUTO_INCREMENT,
    username VARCHAR(50) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    email VARCHAR(100) UNIQUE,
    status TINYINT(1) DEFAULT 1,
    id_rol INT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (id_rol) REFERENCES roles(id_rol)
);

-- Insert default roles
INSERT INTO roles (name, description) VALUES 
('Administrator', 'Full system access'),
('User', 'Limited system access'),
('Teacher', 'Teacher access');

-- Insert default admin user (password: admin123)
INSERT INTO users (username, password, email, id_rol) VALUES 
('admin', '\\\/JlI7/S', 'admin@expensecontrol.com', 1);
